<article class="tease tease-{{ post.type }}" id="tease-{{ post.id }}">
    {% block content %}
        <h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2>
        {% if post.thumbnail %}
            <img src="{{ post.thumbnail.src }}" />
        {% endif %}
        <p>{{ post.excerpt }}</p>
    {% endblock %}
</article>